<nav id="navbar">
  <ul>
    <li>
      <a class="page-link" href="{{site.baseurl}}/typography">Typography</a>
    </li>
    <li>
      <a class="page-link" href="{{site.baseurl}}/color">Color</a>
    </li>
    
    <!-- These links will be added once the pages are created
    <a class="page-link" href="{{site.baseurl}}/elements">Elements</a>
    <a class="page-link" href="{{site.baseurl}}/icons">Icons</a>
    <a class="page-link" href="{{site.baseurl}}/buttons">Buttons</a>
    -->
  </ul>
</nav>