<nav id="navbar">
	<ul>
		<li>
			<a href="{{site.baseurl}}/">Home</a>
		</li>
		<li>
			<a href="{{site.baseurl}}/#logo">Logo</a>
		</li>
		<li>
			<a href="{{site.baseurl}}/#college-icons">College Icons</a>
		</li>
		<li>
			<a href="{{site.baseurl}}/#colors">Colors</a>
		</li>
		<li>
			<a href="{{site.baseurl}}/#typeface">Typeface</a>
		</li>
		<li>
			<a href="{{site.baseurl}}/#typography">Typography</a>
		</li>
		<li>
			<a href="{{site.baseurl}}/#buttons-forms">Buttons &amp; Forms</a>
		</li>
	</ul>
</nav>
