<nav id="navbar">
	<ul>
		<li>
			<a href="{{site.baseurl}}/">Home</a>
		</li>
		<li>
			<a href="{{site.baseurl}}/#logo">Logo</a>
		</li>
		<li>
			<a href="{{site.baseurl}}/#college-icons">College Icons</a>
		</li>
		<li>
			<a href="{{site.baseurl}}/#colors">Colors</a>
		</li>
		<li>
			<a href="{{site.baseurl}}/#typeface">Typeface</a>
		</li>
		<li>
			<a href="{{site.baseurl}}/#typography">Typography</a>
		</li>
		
		
		<!-- These links will be added once the pages are created
		<a href="{{site.baseurl}}/elements">Elements</a>
		<a href="{{site.baseurl}}/icons">Icons</a>
		<a href="{{site.baseurl}}/buttons">Buttons</a>
		-->
	</ul>
</nav>
