/* Standard Colors
---------------------------------------- */
$red:				#98002e;
$red-secondary:		#BA183E;
$red-tertiary:		#7F0026;
$black:				#2f2f2f;
$white: 			#ffffff;

/* Background Colors
---------------------------------------- */
$bg-red:			#98002e;
$bg-black:			#2f2f2f;
$bg-white:			#ffffff;
$bg-off-white:   	#f1f1f1;
$bg-silver:      	#eaeaea;
$bg-silver-gray:    #d8d8d8;
$bg-light-gray:    	#cfcfcf;
$bg-gray:    		#c1c1c1;
$bg-dark-gray:    	#676767;

/* School Colors
---------------------------------------- */
$color-argyros:   		#006185;
$color-ces:   			#003764;
$color-copa:   			#69465c;
$color-copa-dance: 		#007165;
$color-copa-music: 		#793141;
$color-copa-theater: 		#002e5f;
$color-crean:		 		#1f8a84;
$color-dodge:  			#2f2f2f;
$color-fowler:  			#002f7c;
$color-schmid:			#4a5E0f;
$color-communication:		#c88508;
$color-pharmacy: 			#959300;
$color-wilkinson:			#008ec1;
