/* Standard Colors
---------------------------------------- */
$red:         #a82439;
$black:       #353430;
$warm-gray:   #edeade;
$cool-gray:   #ecebe5;

/* Accent Colors
---------------------------------------- */
$blue:        #407892;
$light-blue:  #02bac1;
$green:       #25b6a4;
$light-green: #c6dbd2;
$yellow:      #fed03d;
$gold:        #f39c12;
$orange:      #e35c4a;
$purple:      #9b2672;
$gray-slate:  #62605a;
$gray-smoke:  #9a9996;
$gray-mist:   #cbcac5;
$gray-cement: #e2e2e1;

/* Background Colors
---------------------------------------- */
$bg-light-gray:      #ecebe5;
$bg-silver-gray:     #e5e5e5;
$bg-off-white:       #f2f2f0;
$bg-red:             #a82439;