/* Standard Colors
---------------------------------------- */
$red:				#98002e;
$black:				#2f2f2f;
$gray1:				#676767;
$white: 			#ffffff;

/* Background Colors
---------------------------------------- */
$bg-off-white:   	#f1f1f1;
$bg-silver:      	#eaeaea;
$bg-silver-gray:    #d8d8d8;
$bg-light-gray:    	#cfcfcf;
$bg-gray:    		#c1c1c1;
$bg-dark-gray:    	#676767;

/* School Colors
---------------------------------------- */
$argyros:   		#006185;
$ces:   			#003764;
$copa:   			#69465c;
$copa-dance: 		#007165;
$copa-music: 		#793141;
$copa-theater: 		#002e5f;
$crean:		 		#1f8a84;
$dodge:  			#2f2f2f;
$fowler:  			#002f7c;
$schmid:			#4a5E0f;
$communication:		#c88508;
$pharmacy: 			#959300;
$wilkinson:			#008ec1;
