---
---

@import "colors.scss";



	


/* *** Color Palette **** */
.palette {
	padding: 10px;
}

.standard, .backgrounds {
	margin-top: 0.5em;
	border: solid $black 0.8px;
	border-radius: 3px;
	display: inline-block;
	width: 220px;
	box-sizing: border-box;
	text-align: center;
	padding: 15px;
	box-shadow:0px 1px 0px 0px rgba(0,0,0,0.1),0px 2px 1px 0px rgba(0,0,0,0.12);
}

.accents {
	margin-top: 0.5em;
	border: solid $black 0.8px;
	border-radius: 3px;
	display: inline-block;
	width: 180px;
	box-sizing: border-box;
	text-align: center;
	padding: 15px;
	box-shadow:0px 1px 0px 0px rgba(0,0,0,0.1),0px 2px 1px 0px rgba(0,0,0,0.12);
}

.standard p, .accents p, .backgrounds p {
	color: #fff;
}

#title {
	font-size: 45px;
	padding-bottom: 0.75em;
	padding-top: 38px;
	border-bottom: 2px dashed #000000;
}

.home img {
	height: auto;
	width: 30%;
	float: left;
	margin-right: 50px;

}

#icons, #organisms, #molecules, #layout {
	padding-top: 1em;
}

#layout {
	padding-top: 3em;
}

 .clear {
		clear:both;
}

.new_icons {
	display: inline-block;
	width: 15%;
	height: 80px;
	padding-bottom: 50px;
}