<!DOCTYPE html>
<html lang="en">

	{% include head.html %}

	{% include navbar.html %}

	{% include header.html %}

<section id="colors">
	<div class="container">
		<div class="heading">Colors</div>
		<div class="subheading">Brand colors and college themes</div>
		
		<div class="section-wrapper">
			<div class="main-description">
				Backgrounds, Borders, Shadows, Text
			</div>
			<div class="description">
				<div class="shade white"></div>
				#FFFFFF
			</div>
			<div class="description">
				<div class="shade bg-silver"></div>
				#EAEAEA
			</div>
			<div class="description">
				<div class="shade bg-silver-gray"></div>
				#D8D8D8
			</div>
			<div class="description">
				<div class="shade bg-light-gray"></div>
				#CFCFCF
			</div>
			<div class="description">
				<div class="shade bg-gray"></div>
				#C1C1C1
			</div>
			<div class="description">
				<div class="shade bg-dark-gray"></div>
				#676767
			</div>
			<div class="description">
				<div class="shade black"></div>
				#2F2F2F
			</div>
			<div class="description">
				<div class="shade red"></div>
				#98002E
			</div>
		</div>
		<div class="section-wrapper">
			<div class="main-description">
				College themes for exclusive use by Chapman University only
			</div>
			<div class="description">
				<div class="shade argyros"></div>
				#006185
			</div>
			<div class="description">
				<div class="shade ces"></div>
				#003764
			</div>
			<div class="description">
				<div class="shade copa"></div>
				#69465C
			</div>
			<div class="description">
				<div class="shade copa-dance"></div>
				#007165
			</div>
			<div class="description">
				<div class="shade copa-music"></div>
				#793141
			</div>
			<div class="description">
				<div class="shade copa-theater"></div>
				#002E5F
			</div>
			<div class="description">
				<div class="shade crean"></div>
				#1F8A84
			</div>
			<div class="description">
				<div class="shade dodge"></div>
				#2F2F2F
			</div>
			<div class="description">
				<div class="shade fowler"></div>
				#002F7C
			</div>
			<div class="description">
				<div class="shade schmid"></div>
				#4A5E0F
			</div>
			<div class="description">
				<div class="shade communication"></div>
				#C88508
			</div>
			<div class="description">
				<div class="shade pharmacy"></div>
				#008EC1
			</div>
			<div class="description">
				<div class="shade wilkinson"></div>
				#008EC1
			</div>
		</div>	
		
	</div>
</section>

<section id="typeface" class="dark">
	<div class="container">
		<div class="heading">Typeface</div>
		<div class="subheading">Brand typeface usage for web</div>
		
		<div class="section-wrapper">
			<div class="description">
				Futura Bold<br />
				<div class="futura">AaBbCcDd</div>
			</div>
			<div class="description">
				Futura Book<br />
				<div class="futura book">AaBbCcDd</div>
			</div>
			<div class="description">
				Futura Light<br />
				<div class="futura light">AaBbCcDd</div>
			</div>
		</div>

		<div class="section-wrapper">
			<div class="description">
				Minion Pro<br />
				<div class="minion">AaBbCcDd</div>
			</div>
			<div class="description">
				Minion Pro Italic<br />
				<div class="minion italic">AaBbCcDd</div>
			</div>
			<div class="description">
				Proxima Nova Bold<br />
				<div class="proxima">AaBbCcDd</div>
			</div>
			<div class="description">
				Proxima Nova Regular<br />
				<div class="proxima regular">AaBbCcDd</div>
			</div>
		</div>
	</div>
</section>
	
<section id="typography">
	<div class="container">
		<div class="heading">Typography</div>
		<div class="subheading">Headings, subheadings, and paragraph styles</div>

		<div class="section-wrapper">
			<div class="description">
				Home Page Masthead Heading H2<br />
				<span class="code">
				font-family: Futura-PT;<br />
				font: 48px/48px;<br />
				font-weight: 800;<br />
				</span>
			</div>
			<div>
				<h1>Lorem ipsum dolor sit amet.</h1>
			</div>	
		</div>
		<div class="section-wrapper">
			<div class="description">
				Home Page Masthead Sub Heading H2<br />
				<span class="code">
				font-family: Futura-PT;<br />
				font: 64px/74px;<br />
				font-weight: 100;<br />
				text-transform: uppercase;
				</span>
			</div>
			<div>
				<h2>Integer bibendum interdum elit, a iaculis dolor consectetur vitae.</h2>
			</div>	
		</div>
		<div class="section-wrapper">
			<div class="description">
				Home Page Section Heading H2<br />
				<span class="code">
				font-family: Minion-Pro;<br />
				font: 32px/46px;<br />
				font-weight: 400;<br />
				font-style: italic;
				</span>
			</div>
			<div>
				<h3>Praesent Nibh Erat fds.</h3>
			</div>	
		</div>
		<div class="section-wrapper">
			<div class="description">
				Home Page Section Sub Heading H3<br />
				<span class="code">
				font-family: Minion-Pro;<br />
				font: 32px/46px;<br />
				font-weight: 400;<br />
				font-style: italic;
				</span>
			</div>
			<div>
				<h4>Tempor eget elementum quis, faucibus vitae elit. Cras viverra urna tellus. Nulla aliquet ut arcu sit amet gravida.</h4>
			</div>	
		</div>
		<div class="section-wrapper">
			<div class="description">
				Home Page Section Sub Heading H3<br />
				<span class="code">
				font-family: Minion-Pro;<br />
				font: 32px/46px;<br />
				font-weight: 400;<br />
				font-style: italic;
				</span>
			</div>
			<div>
				<p>Sed sit amet gravida ante. Sed et nulla risus. Suspendisse potenti. Ut mi ipsum, malesuada quis aliquet vitae, blandit eu orci. Donec nisl diam, blandit ac tellus in, vulputate egestas orci. Aenean iaculis elit viverra quam placerat, vel egestas elit maximus. Curabitur dui libero, dapibus ut velit id, accumsan eleifend lacus. Morbi vitae ipsum feugiat, facilisis lorem non, faucibus nisl. Ut aliquam, dolor ac molestie egestas, erat dui dictum eros, sit amet vestibulum arcu eros nec tellus.</p>
			</div>	
		</div>
		<div class="section-wrapper">
			<div class="description">
				Home Page Section Sub Heading H3
				<span class="code">
				font-family: Minion-Pro;<br />
				font: 32px/46px;<br />
				font-weight: 400;<br />
				font-style: italic;
				</span>
			</div>
			<div>
				<p>Maecenas sed aliquet nulla. Cras sagittis posuere vestibulum. Nullam urna erat, malesuada eget justo at, <a href="#">fermentum cursus nibh</a>. Quisque non erat sagittis, pretium felis id, eleifend nisi. <a href="#">Vivamus egestas arcu</a> at posuere faucibus. Vestibulum interdum ipsum eu risus maximus convallis. Etiam viverra mattis orci, eget iaculis ipsum blandit ac.</p>
				<p><a href="#">Fusce scelerisque semper nisl » fda</a></p>
			</div>	
		</div>
	</div>
</section>


	{% include footer.html %}

</html>