<!DOCTYPE html>
<html lang="en">

    {% include head.html %}

    {% include chapman-logo.svg %}

    {% include icons.svg %}

    {% include navbar.html %}

    {% include header.html %}
    
<section id="logo">
    <div class="container">
        <div class="heading">Logo</div>
        <div class="subheading">Institutional marks and monogram web usage</div>
        <div class="section-wrapper">
            <div class="logo-list">
                <div class="description">
                    Horizontal Logo
                </div>
                <div class="logo-horizontal">
                    <span class="logo-icon">
                        <svg><use xlink:href="#logo-horizontal-color"></use></svg>
                    </span>
                </div>
                <div class="logo-horizontal logo-horizontal-black">
                    <span class="logo-icon">
                        <svg><use xlink:href="#logo-horizontal-black"></use></svg>
                    </span>
                </div>
                <div class="logo-horizontal logo-horizontal-white">
                    <span class="logo-icon">
                        <svg><use xlink:href="#logo-horizontal-white"></use></svg>
                    </span>
                </div>
            </div>      
            <div class="logo-list">
                <div class="description">
                    Monogram
                </div>
                <div class="monogram monogram-color">
                    <span class="logo-icon">
                        <svg><use xlink:href="#monogram-color"></use></svg>
                    </span>
                </div>
                <div class="monogram-set monogram-black">
                    <span class="logo-icon">
                        <svg><use xlink:href="#monogram-black"></use></svg>
                    </span>
                </div>
                <div class="monogram-set monogram-white">
                    <span class="logo-icon">
                        <svg><use xlink:href="#monogram-white"></use></svg>
                    </span>
                </div>
            </div>      
            <div class="logo-list">
                <div class="description">
                    Stacked Logo
                </div>
                <div class="logo-stacked">
                    <span class="logo-icon">
                        <svg><use xlink:href="#logo-stacked-color"></use></svg>
                    </span>
                </div>
                <div class="logo-stacked logo-stacked-black">
                    <span class="logo-icon">
                        <svg><use xlink:href="#logo-stacked-black"></use></svg>
                    </span>
                </div>
                <div class="logo-stacked logo-stacked-white">
                    <span class="logo-icon">
                        <svg><use xlink:href="#logo-stacked-white"></use></svg>
                    </span>
                </div>
            </div>  
        </div>
    </div>
</section>              

<section id="college-icons" class="dark">
    <div class="container">
        <div class="heading">College Icons</div>
        <div class="subheading">Solid and reversed icons on color and transparent background</div>
        
        <div class="section-wrapper">
            <div class="main-description">
                College Icons
            </div>
            <div class="school-icon-list">
                <div class="description">Argyros</div>
                <div class="solid-icon">
                    <span class="school-icon">
                        <svg><use xlink:href="#cu-argyros"></use></svg>
                    </span>
                </div>
                <div class="border-icon">
                    <span class="school-icon">
                        <svg><use xlink:href="#cu-argyros"></use></svg>
                    </span>
                </div>
            </div>
            <div class="school-icon-list">
                <div class="description">CES</div>
                <div class="solid-icon">
                    <span class="school-icon">
                        <svg><use xlink:href="#cu-ces"></use></svg>
                    </span>
                </div>
                <div class="border-icon">
                    <span class="school-icon">
                        <svg><use xlink:href="#cu-ces"></use></svg>
                    </span>
                </div>
            </div>
            <div class="school-icon-list">
                <div class="description">COPA</div>
                <div class="solid-icon">
                    <span class="school-icon">
                        <svg><use xlink:href="#cu-copa"></use></svg>
                    </span>
                </div>
                <div class="border-icon">
                    <span class="school-icon">
                        <svg><use xlink:href="#cu-copa"></use></svg>
                    </span>
                </div>
            </div>
            <div class="school-icon-list">
                <div class="description">Crean</div>
                <div class="solid-icon">
                    <span class="school-icon">
                        <svg><use xlink:href="#cu-crean"></use></svg>
                    </span>
                </div>
                <div class="border-icon">
                    <span class="school-icon">
                        <svg><use xlink:href="#cu-crean"></use></svg>
                    </span>
                </div>
            </div>
            <div class="school-icon-list">
                <div class="description">Dodge</div>
                <div class="solid-icon">
                    <span class="school-icon">
                        <svg><use xlink:href="#cu-dodge"></use></svg>
                    </span>
                </div>
                <div class="border-icon">
                    <span class="school-icon">
                        <svg><use xlink:href="#cu-dodge"></use></svg>
                    </span>
                </div>
            </div>
            <div class="school-icon-list">
                <div class="description">Fowler</div>
                <div class="solid-icon fowler-fix">
                    <span class="school-icon">
                        <svg><use xlink:href="#cu-fowler"></use></svg>
                    </span>
                </div>
                <div class="border-icon fowler-fix">
                    <span class="school-icon">
                        <svg><use xlink:href="#cu-fowler"></use></svg>
                    </span>
                </div>
            </div>
            <div class="school-icon-list">
                <div class="description">Schmid</div>
                <div class="solid-icon">
                    <span class="school-icon">
                        <svg><use xlink:href="#cu-schmid"></use></svg>
                    </span>
                </div>
                <div class="border-icon">
                    <span class="school-icon">
                        <svg><use xlink:href="#cu-schmid"></use></svg>
                    </span>
                </div>
            </div>
            <div class="school-icon-list">
                <div class="description">Communication</div>
                <div class="solid-icon">
                    <span class="school-icon">
                        <svg><use xlink:href="#cu-communication"></use></svg>
                    </span>
                </div>
                <div class="border-icon">
                    <span class="school-icon">
                        <svg><use xlink:href="#cu-communication"></use></svg>
                    </span>
                </div>
            </div>
            <div class="school-icon-list">
                <div class="description">Pharmacy</div>
                <div class="solid-icon">
                    <span class="school-icon">
                        <svg><use xlink:href="#cu-pharmacy"></use></svg>
                    </span>
                </div>
                <div class="border-icon">
                    <span class="school-icon">
                        <svg><use xlink:href="#cu-pharmacy"></use></svg>
                    </span>
                </div>
            </div>
            <div class="school-icon-list">
                <div class="description">Wilkinson</div>
                <div class="solid-icon">
                    <span class="school-icon">
                        <svg><use xlink:href="#cu-wilkinson"></use></svg>
                    </span>
                </div>
                <div class="border-icon">
                    <span class="school-icon">
                        <svg><use xlink:href="#cu-wilkinson"></use></svg>
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>  

<section id="colors">
    <div class="container">
        <div class="heading">Colors</div>
        <div class="subheading">Brand colors and college themes</div>
        
        <div class="section-wrapper">
            <div class="main-description">
                Backgrounds, Borders, Shadows, Text
            </div>
            <div class="description">
                White
                <div class="label">
                    <div class="shade bg-white"></div>
                    #FFFFFF
                </div>
            </div>
            <div class="description">
                Silver
                <div class="label">
                    <div class="shade bg-silver"></div>
                    #EAEAEA
                </div>
            </div>
            <div class="description">
                Silver Gray
                <div class="label">
                    <div class="shade bg-silver-gray"></div>
                    #D8D8D8
                </div>
            </div>
            <div class="description">
                Light Gray
                <div class="label">
                    <div class="shade bg-light-gray"></div>
                    #CFCFCF
                </div>
            </div>
            <div class="description">
                Gray
                <div class="label">
                    <div class="shade bg-gray"></div>
                    #C1C1C1
                </div>
            </div>
            <div class="description">   
                Medium Gray
                <div class="label">
                    <div class="shade bg-dark-gray"></div>
                    #676767
                </div>
            </div>
            <div class="description">   
                Black
                <div class="label">
                    <div class="shade bg-black"></div>
                    #2F2F2F
                </div>
            </div>
            <div class="description">   
                Red
                <div class="label">
                    <div class="shade bg-red"></div>
                    #98002E
                </div>
            </div>  
        </div>
        <div class="section-wrapper">
            <div class="main-description">
                College themes for exclusive use by Chapman University only
            </div>
            <div class="description">   
                Argyros
                <div class="label">
                    <div class="shade color-argyros"></div>
                    #006185
                </div>
            </div>
            <div class="description">   
                CES
                <div class="label">
                    <div class="shade color-ces"></div>
                    #003764
                </div>
            </div>
            <div class="description">   
                COPA    
                <div class="label">
                    <div class="shade color-copa"></div>
                    #69465C
                </div>
            </div>
            <div class="description">       
                COPA-Dance
                <div class="label">
                    <div class="shade color-copa-dance"></div>
                    #007165
                </div>
            </div>
            <div class="description">   
                COPA-Music  
                <div class="label">
                    <div class="shade color-copa-music"></div>
                    #793141
                </div>
            </div>
            <div class="description">       
                COPA-Theater
                <div class="label">
                    <div class="shade color-copa-theater"></div>
                    #002E5F
                </div>
            </div>
            <div class="description">   
                Crean   
                <div class="label">
                    <div class="shade color-crean"></div>
                    #1F8A84
                </div>
            </div>
            <div class="description">       
                Dodge
                <div class="label">
                    <div class="shade color-dodge"></div>
                    #2F2F2F
                </div>
            </div>
            <div class="description">       
                Fowler
                <div class="label">
                    <div class="shade color-fowler"></div>
                    #002F7C
                </div>
            </div>
            <div class="description">   
                Schmid  
                <div class="label">
                    <div class="shade color-schmid"></div>
                    #4A5E0F
                </div>
            </div>
            <div class="description">       
                Communication
                <div class="label">
                    <div class="shade color-communication"></div>
                    #C88508
                </div>
            </div>
            <div class="description">       
                Pharmacy
                <div class="label">
                    <div class="shade color-pharmacy"></div>
                    #008EC1
                </div>
            </div>
            <div class="description">       
                Wilkinson
                <div class="label">
                    <div class="shade color-wilkinson"></div>
                    #008EC1
                </div>
            </div>  
        </div>  
    </div>
</section>

<section id="typeface" class="dark">
    <div class="container">
        <div class="heading">Typeface</div>
        <div class="subheading">Brand typeface usage for web</div>
        
        <div class="section-wrapper">
            <div class="description">
                Futura Bold<br />
                <div class="futura">AaBbCcDd</div>
            </div>
            <div class="description">
                Futura Book<br />
                <div class="futura book">AaBbCcDd</div>
            </div>
            <div class="description">
                Futura Light<br />
                <div class="futura light">AaBbCcDd</div>
            </div>
        </div>

        <div class="section-wrapper">
            <div class="description">
                Minion Pro<br />
                <div class="minion">AaBbCcDd</div>
            </div>
            <div class="description">
                Minion Pro Italic<br />
                <div class="minion italic">AaBbCcDd</div>
            </div>
            <div class="description">
                Proxima Nova Bold<br />
                <div class="proxima">AaBbCcDd</div>
            </div>
            <div class="description">
                Proxima Nova Regular<br />
                <div class="proxima regular">AaBbCcDd</div>
            </div>
        </div>
    </div>
</section>
    
<section id="typography">
    <div class="container">
        <div class="heading">Typography</div>
        <div class="subheading">Headings, subheadings, and paragraph styles</div>

        <div class="section-wrapper">
            <div class="description">
                Home Page Masthead Heading H2<br />
                <span class="code">
                font-family: Futura-PT;<br />
                font: 48px/48px;<br />
                font-weight: 800;<br />
                </span>
            </div>
            <div>
                <h1>Lorem ipsum dolor sit amet.</h1>
            </div>  
        </div>
        <div class="section-wrapper">
            <div class="description">
                Home Page Masthead Sub Heading H2<br />
                <span class="code">
                font-family: Futura-PT;<br />
                font: 48px/48px;<br />
                font-weight: 100;<br />
                </span>
            </div>
            <div>
                <h2>Integer bibendum interdum elit, a iaculis dolor consectetur vitae.</h2>
            </div>  
        </div>
        <div class="section-wrapper">
            <div class="description">
                Home Page Section Heading H2<br />
                <span class="code">
                font-family: Futura-PT;<br />
                font: 64px/74px;<br />
                font-weight: 100;<br />
                text-transform: uppercase;
                </span>
            </div>
            <div>
                <h3>Praesent Nibh Erat fds.</h3>
            </div>  
        </div>
        <div class="section-wrapper">
            <div class="description">
                Home Page Section Sub Heading H3<br />
                <span class="code">
                font-family: Minion-Pro;<br />
                font: 32px/46px;<br />
                font-weight: 400;<br />
                font-style: italic;
                </span>
            </div>
            <div>
                <h4>Tempor eget elementum quis, faucibus vitae elit. Cras viverra urna tellus. Nulla aliquet ut arcu.</h4>
            </div>  
        </div>
        <div class="section-wrapper">
            <div class="description">
                One Column Section H4<br />
                <span class="code">
                font-family: Futura-PT;<br />
                font: 18px/18px;<br />
                font-weight: 800;<br />
                </span>
            </div>
            <div>
                <h5>Etiam nec dapibus nulla. Nunc eu tempus quam, quis accumsan justo. Nunc moletie, diam sit amet pretium gravida, lorem augue convallis augue, id acutor dolor turpis sit amet ex.</h5>
            </div>  
        </div>
        <div class="section-wrapper">
            <div class="description">
                Body P<br />
                <span class="code">
                font-family: Proxima-Nova;<br />
                font: 14px/20px;<br />
                font-weight: 400;<br />
                </span>
            </div>
            <div>
                <p>Sed sit amet gravida ante. Sed et nulla risus. Suspendisse potenti. Ut mi ipsum, malesuada quis aliquet vitae, blandit eu orci. Donec nisl diam, blandit ac tellus in, vulputate egestas orci. Aenean iaculis elit viverra quam placerat, vel egestas elit maximus. Curabitur dui libero, dapibus ut velit id, accumsan eleifend lacus. </p>
            </div>  
        </div>
        <div class="section-wrapper">
            <div class="description">
                A Link<br />
                <span class="code">
                font: 14px/20px;<br />
                color: #98002E;<br />
                border-bottom: 2px dotted #C1C1C1;

                </span>
            </div>
            <div>
                <p>Maecenas sed aliquet nulla. Cras sagittis posuere vestibulum. Nullam urna erat, malesuada eget justo at, <a href="#">fermentum cursus nibh</a>. Quisque non erat sagittis, pretium felis id, eleifend nisi. Vivamus egestas arcu at posuere. </p>
                <p><a href="#">Fusce scelerisque semper nisl</a> » </p>
            </div>  
        </div>
    </div>
</section>


<section id="buttons-forms" class="dark">
    <div class="container">

        <div class="buttons">
            <div class="heading">Buttons</div>
            <div class="subheading">Regular, hover, and active states</div>
            <div class="main-description">
                Masthead/Section Buttons
            </div>
            <div class="section-wrapper masthead">
                <div>
                    <div class="button-list">
                        <div class="description">Regular</div>
                        <div class="button primary-regular">Primary Button</div>
                        <div class="label">#98002E</div>
                        <div class="button section-regular">Section Button</div>
                        <div class="label">#EAEAEA</div>
                        <div class="button outline-regular">Outline Button</div>
                        <div class="label">#FFFFFF</div>
                    </div>
                    <div class="button-list">
                        <div class="description">Hover</div>
                        <div class="button primary-hover">Primary Button</div>
                        <div class="label">#BA183E</div>
                        <div class="button section-hover">Section Button</div>
                        <div class="label">#FFFFFF</div>
                        <div class="button outline-hover">Outline Button</div>
                        <div class="label">#FFFFFF</div>
                    </div>
                    <div class="button-list last">
                        <div class="description">Active</div>
                        <div class="button primary-active">Primary Button</div>
                        <div class="label">#7F0026</div>
                        <div class="button section-active">Section Button</div>
                        <div class="label">#D8D8D8</div>
                        <div class="button outline-active">Outline Button</div>
                        <div class="label">#FFFFFF</div>
                    </div>
                </div>  
            </div>
            <div class="main-description sitewide">
                Site Wide Buttons
            </div>
            <div class="section-wrapper sitewide">
                <div>
                    <div class="button-list">
                        <div class="description">Regular</div>
                        <div class="button cta-regular">Call to Action Button &raquo;</div>
                        <div class="label">#98002E</div>
                        <div class="button widget-regular">Widget Button &raquo;</div>
                        <div class="label">#EAEAEA</div>
                    </div>
                    <div class="button-list">
                        <div class="description">Hover</div>
                        <div class="button cta-hover">Call to Action Button &raquo;</div>
                        <div class="label">#BA183E</div>
                        <div class="button widget-hover">Widget Button &raquo;</div>
                        <div class="label">#FFFFFF</div>
                    </div>
                    <div class="button-list last">
                        <div class="description">Active</div>
                        <div class="button cta-active">Call to Action Button &raquo;</div>
                        <div class="label">#7F0026</div>
                        <div class="button widget-active">Widget Button &raquo;</div>
                        <div class="label">#FFFFFF</div>
                    </div>
                </div>  
            </div>
        </div>

        <div class="forms">
            <div class="heading">Forms</div>
            <div class="subheading">Text fields and dropdowns</div>
            <div class="main-description">
                Form Fields
            </div>
            <div class="section-wrapper">
                <form>
                    <input type="text" name="" width="45" value="Input Field">
                    <input type="search" name="" width="45" value="Search Field">
                    <select width="45">
                        <option value="select field" selected="">Select Field</option>
                    </select>
                    <textarea rows="8"></textarea>
                    
                    <div class="buttons">
                        <div class="reset" href="#"><svg><use xlink:href="#icon-reset"></use></svg>Reset</div>
                        <div class="submit">Submit &raquo;</div>
                    </div>
                </form>
            </div>
        </div>

    </div>
</section>      

    {% include footer.html %}

</html>